<% if notice %>
    <%= content_tag 'div', class: "alert alert-success alert-dismissible fade show", role: 'alert' do %>
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% end %>
<% end %>
<% if alert %>
    <%= content_tag 'div', class: "alert alert-danger alert-dismissible fade show", role: 'alert' do %>
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <% end %>
<% end %>
