<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white"><a href="https://github.com/mateusflorez" target="blank" style="text-decoration: none; color: #ffffff">Mateus Paz</a> <%= Date.today.year %></p>
  </div>
</footer>
