<h1>My ads</h1>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
        <tr>
        <th scope="row"><%= ad.id %></th>
        <td><%= image_tag ad.picture.url(:thumb) %></td>
        <td><%= ad.description %></td>
        <td><%= humanized_money_with_symbol ad.price %></td>
        </tr>
    <% end %>
  </tbody>
</table>
